/*Animación desaparecer y aparecer*/
    @keyframes movePoint{
        0% {
            opacity: 0.2;
        }
        20% {
            opacity: 1;
        }
        100% {
               opacity: 0.2;
        }
    }


