html,body{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*USUARIO*/

    #usuarioContent{
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #e42820;
        height: 350px;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 1;
    }
    
    .usuarioContent img{
        position: relative;
        top: 0;
    }

    .inputUserT{
        margin: 0 0 10px 0;
        height: 15px;
        width: 200px;
        display: block;
    }

    .inputUserP{
        margin: 0;
        height: 15px;
        width: 200px;
        display: block;
    }

    #usuarioContent p{
        color: white;
    }

    .textUser1{
        margin: 30px 0 20px 0;
        font-size: 40px
    }

    .textUser2{
        margin: 0;
    }

    .textUser3{
        margin: 0;
    }

    .forgetPassword{
        position: relative;
        left: 35px;
        text-decoration: none;
        color: white;
    }

    #buttonAcept{
        margin-top: 30px;
        height: 25px;
        width: 100px;
    }
/*USUARIO*/

/*HEADER*/

    #all{
        opacity: .2;
        pointer-events:none;
    }

    /*NAMECONTENT*/

        .nameContent{
            display: flex;
            align-items: center;
            background-color:  #e42820 ;
        }

        .nameContent img{
            margin: 0 20px 0 10px;
            height: auto;
            width: 300px;
        }

        .nameContent h1{
            margin: 10px 0;
            color: white;
            font-family:"Montserrat", sans-serif;
        }

        #change{
            margin-left: auto;
            margin-right: 15px;
            color: white;
            cursor: pointer;
            opacity: .8;
            &:hover{
                opacity: 1.2;
            }
        }

    /*NAMECONTENT*/

    /*LISTCONTENT*/

        .listContent{
            display: flex;
            height: 24px;
            width: auto;
            background-color: #b12520;
        }

        #billButton{
            margin: 0 5px;
            padding: 2px 10px;
            cursor: pointer;
            color: white;
            text-decoration: none;
            &:hover{
                background-color:#9c1c18;
            }
        }

        .listBill{
            margin: 0 5px;
            padding: 2px 10px;
            cursor: pointer;
            color: white;
            text-decoration: none;
            &:hover{
                background-color:#9c1c18;
            }
        }

    /*LISTCONTENT*/

/*HEADER*/

/* MAIN */
        main{
            display:flex;
            flex: 1;

        }
    /*FACTURACION*/
        #billing{
            display: none;
            height: 100%;
            width: 100%;
        }

        /*PRIMERA PANTALLA*/
            
                #firstBill{
                    display: none;
                    position: absolute;
                    background-color:#e42820;
                    border: 5px #9c1c18 solid;
                    border-radius: 10px;
                    height: 295px;
                    width: 455px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    z-index: 1;
                    overflow: hidden;
                }

            /*PANTALLA DATOS CLIENTE*/

                #detailsContent{
                    height: 100%;
                    width: 100%;
                    right: 0;
                    position: relative;
                    transition: right 0.5s ease-out;
                }

                .textDetails{
                    display: grid;
                    padding: 10px 10px 0 10px;
                    grid-template-columns: 100px 1fr 140px;
                    height: 20px;
                    
                }

                .textDetails2{
                    display: grid;
                    grid-template-columns: 100px 1fr 140px;
                    padding: 0 10px 0 10px;
                    grid-template-rows: 20px;
                    overflow: hidden;
                }


                .textDetails p, .textDetails2 p,.textDetails3 p{
                    margin: 0;
                    color: white;
                }

                .textDetails input, .textDetails2 input,.textDetails3 input{
                    color: gray;
                }

                .firstBillContentButton{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }

                #detailsButton{
                    height: 25px;
                    width: 100px;
                }
                /*Mensaje avertecia datos clientes*/
                    #warningFirstBill{
                    }

                    .newClassWarning{
                        animation: animationWarning 0.5s ease;
                    }

                    @keyframes animationWarning{
                        0%{
                            transform: scale(1);
                        }

                        50% {
                            transform: scale(1.2);
                        }

                        100%{
                            transform: scale(1);
                        }
                    }
                /*Mensaje avertecia datos clientes*/

                /*Menu botones primera pantalla facturas*/
                    .firstScreenButtonMenu{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                    }

                    /*Boton usuario final*/
                        .contentFinalUser{
                            margin-left: 10px;
                            &::after{
                                content: "Usuario final";
                                background-color: white;
                                padding: 2px;
                                border: 1px black solid;
                                border-radius: 2px;
                                top: 0px;
                                left: 0px;
                                position: relative;
                                pointer-events: none;
                                display: none;
                                
                            }

                            &:hover::after{
                                display: initial;
                            }
                        }

                    
                        .contentFinalUser input{
                            height: 30px;
                            width: 30px;
                            background-image: url(/images/Usuario\ final.png);
                            background-size:22px 22px;
                            background-position:center;
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }
                    
                    /*Boton Imprimir facturas*/
                        .contentCopyBill{
                            margin-right: 10px;
                            &::after{
                                content: "Imprimir factura";
                                background-color: white;
                                padding: 2px;
                                border: 1px black solid;
                                border-radius: 2px;
                                top: 70px;
                                right: 50px;
                                position: absolute;
                                pointer-events: none;
                                display: none;
                                
                            }

                            &:hover::after{
                                display: initial;
                            }
                        }

                        .contentCopyBill input{
                            height: 30px;
                            width: 30px;
                            background-image: url(/images/Imprimir.png);
                            background-size: 35px 22px;
                            background-position: center;
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }          
            
            /*IMPRIMIR FACTURA PANTALLA*/
                #printBill{
                    display: flex;
                    position: absolute;
                    top:0;
                    left: 460px;
                    transition: left 0.5s ease-out;
                }
                /*BOTON VOLVER*/
                    #buttonReturn{
                        height: 25px;
                        width: 28px;
                        margin: 3px 0 0 3px;
                        background-image: url(/images/flechaIzquierda);
                        background-size: 21px 21px;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 5px 0 0 0;
                    }
                /*BOTON VOLVER*/

                #printBill{
                    display: none;
                }

                .contentPrintBill{
                    display: flex;
                    align-items: center;
                }

                #printBill p{
                    color: white;
                    margin: 0;
                    margin: 0 10px 0 20px;
                    white-space: nowrap;
                }
                #textCopy{
                    height: 20px;
                    width: 100px;
                    border: none;
                }


            /*IMPRIMIR FACTURA PANTALLA*/

        /*PRIMERA PANTALLA*/

        /*SEGUNDA PANTALLA*/

            #secondBill{
                display: flex;
                margin: 1% 1% 1% 1%;
                width: 85%;
                height: fit-content;
                opacity: .5;
                pointer-events:none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color:#e42820;
                border-radius: 10px;
            }
            
            /*contentBill*/ 
                .contentBill{
                    height: auto;
                    position: relative;
                    width: 98%;
                }

                .billingDetails1{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .billingDetails1 div{
                    display: flex;
                    margin-top: 3px;
                }


                .textBill1{
                    color: white;
                    font-size: 30px;
                    margin: 5px 0 0 0;
                }

                .numberBill{
                    color: white;
                    font-size: 30px;
                    margin: 5px 0 0 0;
                }

                /*BOTON GUARDAR FACURA Y COTIZAR*/

                    #saveBill{
                        height: 35px;
                        width: 35px;
                        background-image: url(/images/Guardar.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 23px 23px;
                        margin:  5px 0 0 0;
                    }

                    #quoteBill{
                        height: 35px;
                        width: 35px;
                        background-image: url(/images/Cotizar.png);
                        background-position: 5px;
                        background-repeat: no-repeat;
                        background-size: 25px 25px;
                        margin: 5px 20px 0 20px;

                    
                    }

                    .saveBillText{
                        &::after{
                            content:"Guardar factura";
                            background-color: white;
                            position: absolute;
                            border: black 2px solid;
                            border-radius: 3px;
                            max-height: min-content;
                            right: 30px;
                            top: -12px;
                            white-space: nowrap;
                            pointer-events: none;
                            opacity: 0;
                            padding: 0 3px 0 3px;
                        }

                        &:hover::after{
                            opacity: 1;
                        }
                    }

                    .quoteBillText{
                        &::after{
                            content:"Cotización";
                            background-color: white;
                            position: absolute;
                            border: black 2px solid;
                            border-radius: 3px;
                            top: -12px;
                            pointer-events: none;
                            opacity: 0;
                            padding: 0 3px 0 3px;
                        }
                        &:hover::after{
                            opacity: 1;
                        }
                    }

                /*BOTON GUARDAR FACURA Y COTIZAR*/

                .billingDetails2{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                
                .billingDetails2 div p:last-child{
                    margin-left: 5px;
                }

                .subDetails1{
                    display: flex;
                }

                .subDetails1 p{
                    color: white;
                }
            /*contentBill*/ 

            /*coating*/
                .coating{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }

                .coatingInto{
                    margin-top: 10px;
                    width: 98%;
                    border-radius: 10px 10px 0 0px;
                    overflow: hidden;
                }

                .coatingInto div{
                    display: grid;
                    grid-template-columns: minmax(8em,10em) minmax(9em,1fr) minmax(4em,5em) minmax(7.4em,10em) minmax(5em,7em);
                }

                .coatingInto div:first-child div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 25px;
                    background-color: gray;
                    color: white;
                    white-space: nowrap;
                    margin-bottom: 0;
                }

                .coatingInto div:first-child div:first-child{
                    border-radius: 10px 0 0 0;
                    border-right: 1px white solid;
                }

                .coatingInto div:first-child div:nth-child(2){
                    border-right: 1px white solid;
                    border-left: 1px white solid;
                }

                .coatingInto div:first-child div:nth-child(3){
                    border-right: 1px white solid;
                    border-left: 1px white solid;
                }

                .coatingInto div:first-child div:nth-child(4){
                    border-right: 1px white solid;
                    border-left: 1px white solid;
                }


                .coatingInto div:first-child div:last-child{
                    border-radius: 0 10px 0 0;
                    border-left: 1px white solid;
                }

                .cells{
                    border: 1px rgb(95, 95, 95) solid;
                    height: 22px;
                    font-size: 16px;
                    padding-left: 10px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    &:focus{
                        outline: none;
                    }
                }
                .cells:nth-child(3){
                    padding-left: 0;
                    text-align: center;
                }

                .billingDetails3{
                    display: flex;
                    justify-content: space-around;
                    height: auto;
                    width: 98%;
                    background-color: gray;
                    margin-bottom: 10px;
                    border-radius: 0 0 10px 10px;
                }

                .billingDetails3 input{
                    height: 25px;
                    width: 100px;
                    margin: 5px 0 5px 0;
                }

                .billingDetails3 div{
                    display: flex;
                    color: white;
                }

                .billingDetails3 div p{
                    margin: 10px 0 5px 0;

                }

            /*coating*/
        /*SEGUNDA PANTALLA*/


        /*Pantalla de carga factura*/
            #loadingScreenBill{
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                border: 5px #9c1c18 solid;
                border-radius: 5px;
                background-color: white;
                height: 55px;
                width: 155px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            #loadingScreenBill p{
                display: flex;
                align-items: center;
                margin-right: 5px;
                font-size: 20px;
                user-select: none;
            }

            .animationPoint{
                background-color: black;
                border-radius: 100%;
                height: 8px;
                width: 8px;
                margin-left: 5px;
            }

            .animationPoint:nth-child(2){
                animation: movePoint 1s  infinite;
            }
            
            .animationPoint:nth-child(3){
                animation: movePoint 1s  infinite;
                animation-delay:0.2s;
            }

            .animationPoint:nth-child(4){
                animation: movePoint 1s  infinite;
                animation-delay:0.4s;
            }

            /*Animación Pantalla de carga f.*/
                @keyframes movePoint{
                    0% {
                        opacity: 0.2;
                    }
                    20% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0.2;
                    }
                }
            /*Animación Pantalla de carga f.*/


        /*Pantalla de carga factura*/
        
        /*TERCERA PANTALLA*/
            #record{
                display: flex;
                width:14%;
                flex-direction: column;
                align-items: center;
                background-color: #e42820;
                margin: 1% 0 1% 0;
                border-radius: 10px 0 0 10px;
                pointer-events: none;
                opacity: 0.5;
            }

            .textRecord{
                color: white;
                font-size:25px;
                margin:5px 0 10px 0;
            }

            .cellRecord{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                position: relative;
                width: 90%;
                color: white;
                cursor: pointer;
                &:hover{
                    position: relative;
                    background-color: #9c1c18;
                    border-radius: 10px;
                }
            }

        /*TERCERA PANTALLA*/    
    /*FACTURACION*/

    /*INVENTARIO*/

        #inventory{
            display: none;
            width: 100%;
            height: 700px;
            background-color: bisque;
        }

    /*INVENTARIO*/

/* MAIN */

/* FOOTER */
        footer{
            opacity: 0.5;
            pointer-events: none;
        }

        .contentFooter{
            border-top: 2px #9c1c18 solid;
            background-color:#e42820;
            display: flex;
            height: auto;
            width: auto;
        }

        .contentFooter p{
            color: white;
            margin: 5px 0 5px 10px;
        }

/* FOOTER */