body{
    margin: 0;
}

/*USUARIO*/

    #usuarioContent{
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #e42820;
        height: 350px;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 1;
    }
    
    .usuarioContent img{
        position: relative;
        top: 0;
    }

    .inputUserT{
        margin: 0 0 10px 0;
        height: 15px;
        width: 200px;
        display: block;
    }

    .inputUserP{
        margin: 0;
        height: 15px;
        width: 200px;
        display: block;
    }

    #usuarioContent p{
        color: white;
    }

    .textUser1{
        margin: 30px 0 20px 0;
        font-size: 40px
    }

    .textUser2{
        margin: 0;
    }

    .textUser3{
        margin: 0;
    }

    .forgetPassword{
        position: relative;
        left: 35px;
        text-decoration: none;
        color: white;
    }

    #buttonAcept{
        margin-top: 30px;
        height: 25px;
        width: 100px;
    }
/*USUARIO*/

/*HEADER*/

    #all{
        opacity: .2;
        pointer-events:none;
    }

    /*NAMECONTENT*/

        .nameContent{
            display: flex;
            align-items: center;
            background-color:  #e42820 ;
        }

        .nameContent img{
            margin: 0 20px 0 10px;
            height: auto;
            width: 300px;
        }

        .nameContent h1{
            margin: 10px 0;
            color: white;
            font-family:"Montserrat", sans-serif;
        }

        #change{
            margin-left: auto;
            margin-right: 15px;
            color: white;
            cursor: pointer;
            opacity: .8;
            &:hover{
                opacity: 1.2;
            }
        }

    /*NAMECONTENT*/

    /*LISTCONTENT*/

        .listContent{
            display: flex;
            height: 24px;
            width: auto;
            background-color: #b12520;
        }

        #billButton{
            margin: 0 5px;
            padding: 2px 10px;
            cursor: pointer;
            color: white;
            text-decoration: none;
            &:hover{
                background-color:#9c1c18;
            }
        }

        .listBill{
            margin: 0 5px;
            padding: 2px 10px;
            cursor: pointer;
            color: white;
            text-decoration: none;
            &:hover{
                background-color:#9c1c18;
            }
        }

    /*LISTCONTENT*/

/*HEADER*/

/* MAIN */

    /*FACTURACION*/

        #billing{
            display: none;
        }

        /*PRIMERA PANTALLA*/

            #firstBill{
                position: absolute;
                background-color:#e42820;
                border: 5px #9c1c18 solid;
                border-radius: 10px;
                height: 295px;
                width: 455px;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
            }

            .detailsContent{
                height: 100%;
                width: 100%;
            }

            .textDetails{
                display: grid;
                padding: 10px 10px 0 10px;
                grid-template-columns: 100px 1fr 140px;
                height: 20px;
                
            }

            .textDetails2{
                display: grid;
                grid-template-columns: 100px 1fr 140px;
                padding: 0 10px 0 10px;
                grid-template-rows: 20px;
                overflow: hidden;
            }


            .textDetails p, .textDetails2 p,.textDetails3 p{
                margin: 0;
                color: white;
            }

            .textDetails input, .textDetails2 input,.textDetails3 input{
                color: gray;
            }

            .firstBillContentButton{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                color: white;
            }

            #detailsButton{
                height: 25px;
                width: 100px;
            }

        /*PRIMERA PANTALLA*/

        /*SEGUNDA PANTALLA*/

            #secondBill{
                display: flex;
                margin: 1%;
                opacity: .5;
                pointer-events:none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color:#e42820;
                border-radius: 10px;
            }

            .contentBill{
                height: auto;
                width: 98%;
            }

            .billingDetails1{
                display: flex;
            }

            .textBill1{
                color: white;
                font-size: 30px;
                margin: 5px 0 0 0;
            }

            .numberBill{
                color: white;
                font-size: 30px;
                margin: 5px 0 0 0;
            }

            .billingDetails2{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            
            .billingDetails2 div p:last-child{
                margin-left: 5px;
            }

            .subDetails1{
                display: flex;
            }

            .subDetails1 p{
                color: white;
            }

            .coating{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .coatingInto{
                margin-top: 10px;
                width: 98%;
            }

            .coatingInto div{
                display: grid;
                grid-template-columns: 10% 43% 7% 20% 20%;
            }

            .coatingInto div:first-child div{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 25px;
                background-color: gray;
                color: white;
                margin-bottom: 0;
            }

            .coatingInto div:first-child div:first-child{
                border-radius: 10px 0 0 0;
                border-right: 1px white solid;
            }

            .coatingInto div:first-child div:nth-child(2){
                border-right: 1px white solid;
                border-left: 1px white solid;
            }

            .coatingInto div:first-child div:nth-child(3){
                border-right: 1px white solid;
                border-left: 1px white solid;
            }

            .coatingInto div:first-child div:nth-child(4){
                border-right: 1px white solid;
                border-left: 1px white solid;
            }


            .coatingInto div:first-child div:last-child{
                border-radius: 0 10px 0 0;
                border-left: 1px white solid;
            }

            .cells{
                border: 1px rgb(95, 95, 95) solid;
                &:focus{
                    outline: none;
                }
            }

            .billingDetails3{
                display: flex;
                justify-content: space-around;
                height: 100%;
                width: 98%;
                background-color: gray;
                margin-bottom: 10px;
                border-radius: 0 0 10px 10px;
            }

            .billingDetails3 input{
                height: 25px;
                width: 100px;
                margin: 5px 0 5px 0;
            }

            .billingDetails3 div{
                display: flex;
                color: white;
            }

            .billingDetails3 div p{
                margin: 10px 0 5px 0;

            }

        /*SEGUNDA PANTALLA*/

    /*FACTURACION*/

    /*INVENTARIO*/

        #inventory{
            display: none;
            width: 100%;
            height: 700px;
            background-color: bisque;
        }

    /*INVENTARIO*/

/* MAIN */